wifi_ssid: Your WiFi SSID
wifi_password: Your WiFi password
ap_wifi_password: "Fallback Password"
mqtt_broker: Your broker IP/Url
mqtt_username: Your broker username
mqtt_password: Your broker password
api_password: Password
p1reader_uri: Your HTTP Uri
p1reader_api_key: Your HTTP API Key